<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Welcome to the Wellness Tracker App</h1>
        <h4 class="quote">"<%= quote %>"</h4>
        <h5 class="author">- <%= author %></h5>
        <span>Please <a href="/login"> Login</a></span>
        <span> or <a href="/signup">Create an Account</a></span>
      </div>
    </main>
  </body>
</html>
