body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0 20px;
}

h1 {
  color: rgb(36, 148, 88);
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
}
/* .completed {
  text-decoration: line-through;
  color: gray;
} */
/* .not {
  text-decoration: underline;
} */

#textboxid {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.journal-entry {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  margin-bottom: 10px;
}

.journal-entries {
  margin: 0 20px;
}

.submit {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(3, 137, 41) 0%, rgb(75, 208, 86) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #aaaaaa;
  background: linear-gradient(
    0deg,
    rgb(68, 68, 68) 0%,
    rgb(118, 118, 118) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #10101098;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

form {
  margin: 0 20px;
}

ul {
  padding: 0;
}
